{% extends "administration/core/base.html" %}
{% load static %}

{% block title %}Countries{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h1>Lista de Categorias de Producto</h1>
            <ul class="list-group">
                {% for category in categories %}
                    <li class="list-group-item"><a href="{% url 'product:category-detail' pk=category.pk organization_slug=organization_slug  %}" class="">{{ category.name }}</a> - {{ category.url }}</li>
                {% endfor %}
            </ul>
            <br>
            <a href="{% url 'product:category-create' organization_slug=organization_slug %}" class="btn btn-primary">Create</a> 
        </div>
    </div>
</div>
{% endblock %}