{% extends "administration/core/base.html" %}

{% block title %}Leads{% endblock %}

{% block content %}

<h1 class="text-xl">Lead Detail {{ lead.lead_id }}</h1>

<div class="card" style="width: 18rem;">
    <div class="card-header">
        <h2>{{ lead.lead_name }}</h2>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ lead.first_name }} {{ lead.last_name }}</li>
        <li class="list-group-item">{{ lead.primary_email }}  
        <li class="list-group-item">{{ lead.assigned_to }} 
        <li class="list-group-item">{{ lead.created_by }}   
        <li class="list-group-item">{{ lead.created_time }}   
        <li class="list-group-item">{{ lead.organization }}   
        <li class="list-group-item">{{ lead.stage }}   <span class="badge bg-success">Stage</span></li>
    </ul>
</div>
<div class="col-md-8 mt-3">
    <a href="{% url 'lead:update' pk=lead.pk organization_name=organization_name %}" class="btn btn-primary">Update</a>
    <a href="{% url 'lead:delete' pk=lead.pk organization_name=organization_name %}" class="btn btn-danger">Delete</a>
</div>
                

{% endblock %}