{% extends "administration/core/base.html" %}
{% load static %}

{% block title %}Countries{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h1>Lista de Productos</h1>
            <ul class="list-group">
                {% for product in products %}
                <li class="list-group-item"><a href="{% url 'product:detail' pk=product.pk organization_name=request.user.organizer.organization.name  %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ product.name }}</a> <br> <span class="badge bg-secondary">Category:</span> {{ product.category }} <br> <span class="badge bg-secondary">URL:</span> {{ product.url }} <br> <span class="badge bg-secondary">Cotizacion:</span> {{ product.cotizacion }}</li>
                {% endfor %}
            </ul>
            <br>
            <a href="{% url 'product:create' organization_name=request.user.organizer.organization.name %}"
                class="btn btn-primary">Create</a>
        </div>
    </div>
</div>
{% endblock %}