{% extends "administration/core/base.html" %}
{% load static %}

{% block title %} {{ titulo }} {% endblock %}


{% block content %}

<h1 class="text-xl">Update Task for {{ task.lead }}</h1>

<br><br>

<form action="." method="post" enctype="multipart/form-data" class="row g-3">
    {% csrf_token %}
    <div class="row mb-3">
        <div class="col-md-8">
            <label for="formGroupExampleInput2" class="form-label">Task Nombre</label>
            {{ form.name }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-5">
            <label for="formGroupExampleInput2" class="form-label">Product</label>
            {{ form.lead_product }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-5">
            <label for="formGroupExampleInput2" class="form-label">Related Task</label>
            {{ form.related_task }}
        </div>
        <div class="col-md-5">
            <label for="formGroupExampleInput2" class="form-label">Parent Task</label>
            {{ form.parent_task }}
        </div>
        <!-- <div class="col-md-5">
            <label for="formGroupExampleInput2" class="form-label">Related Subtask</label>
            {{ form.related_subtask }}
        </div> -->
    </div>
    <div class="row mb-3">
        <div class="col-md-4">
            <label for="formGroupExampleInput2" class="form-label">Start Date</label>
            {{ form.start_date_time }}
        </div>
        <div class="col-md-4">
            <label for="formGroupExampleInput2" class="form-label">End Date</label>
            {{ form.end_date_time }}
        </div>
        <div id="div_id_extended_end_date_time" class="col-md-4">
            <label for="formGroupExampleInput2" class="form-label">Extended End Date</label>
            {{ form.extended_end_date_time }}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-5">
            <label for="formGroupExampleInput2" class="form-label">Assigned to</label>
            {{ form.assigned_to }}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-5">
            <label for="formGroupExampleInput2" class="form-label">Stage</label>
            {{ form.stage }}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-5">
            <label for="formGroupExampleInput2" class="form-label">Description</label>
            {{ form.description }}
        </div>
    </div>



    <br>
    <div class="row mb-3">
        <div class="col-md-5">
            <button type="submit" class="btn btn-primary" {% if not enable_update %}disabled{% endif %} {% if not enable_update %}onclick="return false;" {% endif %}>Update</button>
        </div>
    </div>
    <br><br><br>
</form>



{% endblock %}

{% block scripts %}

<!-- <script>
    //Boton para agregar un nuevo producto
    document.addEventListener('DOMContentLoaded', function () {
        var formIndex = document.getElementById('form-index').getAttribute('data-form-index');
        const addMoreButton = document.getElementById('add-more');
        const formListContainer = document.getElementById('form-list');
        const formTemplate = document.getElementById('form-template').innerHTML;

        addMoreButton.addEventListener('click', function () {
            let newFormHtml = formTemplate.replace(/__prefix__/g, formIndex);
            formListContainer.insertAdjacentHTML('beforeend', newFormHtml);

            // Oculta o elimina el checkbox de eliminación en el nuevo formulario
            const newForm = formListContainer.lastElementChild;
            const deleteCheckbox = newForm.querySelector('input[type="checkbox"][name$="DELETE"]');
            const deleteLabel = deleteCheckbox ? deleteCheckbox.previousElementSibling : null;
            if (deleteCheckbox && deleteLabel) {
                deleteCheckbox.style.display = 'none'; // O usa 'deleteCheckbox.remove();' para eliminarlo
                deleteLabel.style.display = 'none';    // O usa 'deleteLabel.remove();' para eliminarlo
            }

            document.getElementById('id_lead_product-TOTAL_FORMS').value = ++formIndex;
        });
    });
</script> -->





<script>
    document.addEventListener('DOMContentLoaded', function () {
        var formIndex = document.getElementById('form-index').getAttribute('data-form-index');
        const addMoreButton = document.getElementById('add-more');
        const formListContainer = document.getElementById('form-list');
        const formTemplate = document.getElementById('form-template').innerHTML;

        // Leer los datos de stage y is_closed
        const leadInfo = document.getElementById('lead-info');
        const leadStage = leadInfo.getAttribute('data-stage');
        const leadIsClosed = leadInfo.getAttribute('data-is-closed') === 'True';

        // Ocultar el botón si el lead está cerrado o si el stage es 'close_win' o 'close_lost'
        if (leadIsClosed || leadStage === 'close_win' || leadStage === 'close_lost') {
            addMoreButton.style.display = 'none';
        } else {
            addMoreButton.addEventListener('click', function () {
            let newFormHtml = formTemplate.replace(/__prefix__/g, formIndex);
            formListContainer.insertAdjacentHTML('beforeend', newFormHtml);

            // Oculta o elimina el checkbox de eliminación en el nuevo formulario
            const newForm = formListContainer.lastElementChild;
            const deleteCheckbox = newForm.querySelector('input[type="checkbox"][name$="DELETE"]');
            const deleteLabel = deleteCheckbox ? deleteCheckbox.previousElementSibling : null;
            if (deleteCheckbox && deleteLabel) {
                    deleteCheckbox.style.display = 'none';
                    deleteLabel.style.display = 'none';
                }

                document.getElementById('id_lead_product-TOTAL_FORMS').value = ++formIndex;
            });
        }
    });


</script>



<script>
    // Encuentra todas las casillas de verificación de eliminación de producto y cambia el texto de la etiqueta
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('#form-list input[type="checkbox"][name$="DELETE"]').forEach(function (deleteCheckbox) {
            var deleteLabel = deleteCheckbox.previousElementSibling;
            if (deleteLabel) {
                deleteLabel.textContent = 'Delete Product';
            }
        });
    });
</script>

    
{% endblock %}