{% extends "administration/core/base.html" %}
{% load static %}

{% block title %} {{ titulo }} {% endblock %}


{% block content %}

<h1 class="text-xl">Add Task for {{ lead_name }}</h1>

<br><br>

<form action="." method="post" enctype="multipart/form-data" class="row g-3">
    {% csrf_token %}
    <div class="row mb-3">
        <div class="col-md-8">
            <label for="formGroupExampleInput2" class="form-label">Task Nombre</label>
            {{ form.name }}
        </div>
    </div>
    <div class="row mb-3">

        <div class="col-md-5">
            <label for="formGroupExampleInput2" class="form-label">Product</label>
            {{ form.lead_product }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-5">
            <label id="relatedTask" for="formGroupExampleInput2" class="form-label">Related Task</label>
            {{ form.related_task }}
        </div>
        <div class="col-md-5">
            <label for="formGroupExampleInput2" class="form-label">Parent Task</label>
            {{ form.parent_task }}
        </div>
    </div>


    <div class="row mb-3">
        <div class="col-md-5">
            <label for="formGroupExampleInput2" class="form-label">Assigned to</label>
            {{ form.assigned_to }}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-5">
            <label for="formGroupExampleInput2" class="form-label">Description</label>
            {{ form.description }}
        </div>
    </div>



    <br>
    <div class="row mb-3">
        <div class="col-md-5">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </div>
    <br><br><br>
</form>

{% endblock %}

{% block scripts %}

<script type="text/javascript">
    $(document).ready(function() {
        $('#id_related_task').change(function() {
            adjustParentTaskOptions();
        });

        function adjustParentTaskOptions() {
            var selectedRelatedTask = $('#id_related_task').val();
            $('#id_parent_task option').each(function() {
                if ($(this).val() === selectedRelatedTask) {
                    $(this).hide(); // Oculta la opción que coincide
                } else {
                    $(this).show(); // Muestra las otras opciones
                }
            });
        }
    });
</script>

{% endblock %}