{% extends "administration/core/base.html" %}

{% block title %}Stages{% endblock %}

{% block content %}

<h1 class="text-xl">Stage {{ stage.name }}</h1>
<br><br>

<div class="row mb-3">
    <div class="col-md-8">
        <a href="{% url 'stage:update' pk=stage.pk organization_name=request.user.organizer.organization.name %}" class="btn btn-primary">Update</a>
        <a href="{% url 'stage:delete' pk=stage.pk organization_name=request.user.organizer.organization.name %}" class="btn btn-danger">Delete</a>
    </div>
</div>







{% endblock %}