{% extends "administration/core/base.html" %}

{% block title %}Leads{% endblock %}

{% block content %}

<h1 class="text-xl">Lead Detail</h1>

<div class="card" style="width: 18rem;">
    <div class="card-header">
        <h2>{{ lead.first_name }} {{ lead.last_name }}</h2>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ lead.primary_email }}  <span class="badge bg-secondary">Email</span></li>
        <li class="list-group-item">{{ lead.assigned_to }} <span class="badge bg-secondary">Asigned to</span></li>
        <li class="list-group-item">{{ lead.created_by }}   <span class="badge bg-secondary">Created by</span></li>
        <li class="list-group-item">{{ lead.created_time }}   <span class="badge bg-secondary">Created At</span></li>
        <li class="list-group-item">{{ lead.organization }}   <span class="badge bg-secondary">Organization</span></li>
    </ul>
</div>
<div class="col-md-8 mt-3">
    <a href="{% url 'operation:lead-update' pk=lead.pk organization_name=organization_name %}" class="btn btn-primary">Update</a>
    <a href="{% url 'operation:lead-delete' pk=lead.pk organization_name=organization_name %}" class="btn btn-danger">Delete</a>
</div>
                

{% endblock %}