{% extends "administration/core/base.html" %}
{% load static %}

{% block title %}Countries{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h1>Lista de Paises</h1>
            <ul class="list-group">
                {% for country in countries %}
                    <li class="list-group-item"><a href="{% url 'country:detail' pk=country.pk organization_name=request.user.organizer.organization.name  %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ country.name }}</a></li>
                {% endfor %}
            </ul>
            <a href="{% url 'country:create' organization_name=request.user.organizer.organization.name %}" class="btn btn-primary">Create</a> 
        </div>
    </div>
</div>
{% endblock %}